[*.cs]

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none
